$PureWhite: #ffffff;
$PureBlack: #000000;

$Primary-color: #5CC2D7;
$Primary-color-light: #EEF8FB;
$corporate-logo-color: #00ACC3;
$secondary-blue: #78D4E7;

$font-base: #444444;
$font-hero: #0B191F;

// orange
$cta-orange: #F96B0B;
$cta-orange-hover: #F99653;

// navy
$navy01: #0A4F75;

// gray
$gray-mist: #F0F4F6;

// others
$silver-light: #F8F8FF;

$cta-color: #16171C;